<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><%= link_to t("flash.home_link"), root_path, class: "glyphicon glyphicon-th" %></li>
    <li><%= link_to t("flash.components.link_name"), components_path, class: "" %></li>
    <li><%= link_to t("flash.categories.link_name"), categories_path, class: "" %></li>
    </ul>
  </div>
</div>
